@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 90, 13%, 55%;
    --sidebar-foreground: 0, 0%, 100%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Variáveis teste */
    --color-background: #fff8f0; /* Fundo */
    --color-card: #fff8f0; /* Cor do card */
    --color-text: #381d2d; /* Texto principal */
    --color-primary: #4b3421; /* Cor primária */
    --color-secondary: #3b1710; /* Cor secundária (marrom escuro) */
    --color-border: #ebe3da; /* Bordas de inputs */
    --color-accent-900: #487743; /* Verde escuro */
    --color-accent-800: #6a9665; /* Verde médio */
    --color-accent-700: #8fc888; /* Verde claro */
    --color-neutral-900: #3b1710; /* Marrom escuro */
    --color-neutral-800: #816f5f; /* Marrom médio */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 90, 13%, 45%;
    --sidebar-foreground: 0, 0%, 90%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Variáveis teste */
    --color-background: #111111; /* Fundo escuro */
    --color-card: #000000; /* Card preto */
    --color-text: #f5e9dc; /* Texto principal (beige claro) */
    --color-primary: #3b2a1f; /* Cor primária (marrom escuro ajustado) */
    --color-secondary: #2e1f13; /* Cor secundária (marrom muito escuro) */
    --color-border: #4a3c31; /* Bordas de inputs (marrom médio escuro) */
    --color-accent-900: #2c4a2a; /* Verde escuro */
    --color-accent-800: #3e6a3a; /* Verde médio escuro */
    --color-accent-700: #5a8f55; /* Verde claro escuro */
    --color-neutral-900: #24100c; /* Marrom escuro */
    --color-neutral-800: #3e2e24; /* Marrom médio escuro */
  }
}

/* Personaliza a borda da área do calendário */
.fc-today-button.fc-button.fc-button-primary {
  background-color: orange;
}

button.fc-button.fc-button-primary {
  background-color: orange;
}
.fc-button-group {
  width: 10vw;
}
.fc-toolbar-title {
  color: orange;
  font-weight: 900;
}

.fc-col-header {
  border: 3px solid orange;
}

@media (max-width: 768px) {
  .fc-header-toolbar {
    flex-wrap: wrap;
    /* gap: 0.5rem; */
    justify-content: space-between !important;
    font-size: 0.5rem;
  }

  .fc-timegrid-body {
    font-size: 0.6rem;
  }

  .fc .fc-col-header-cell-cushion {
    white-space: nowrap;
    font-size: 0.6rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
